body {
  background-color: black;
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
}

main {
	height: 300px;
	margin: 10% 2%;
	padding-bottom: 5%;
	background-color: rgb(7, 156, 124);
	text-align: center;
	border-radius: 700px;
}

img {
  width: 30px;
  padding-bottom: 1%;
  vertical-align: middle;
}

h1 {
	font-size: 30px;
	display: inline-block;
}

p {
	margin-top: 0;
}

input {
	border-radius: 5px;
}

button {
	border-radius: 20px;
	padding: 0.5% 1%;
	color: white;
	background-color: rgb(172, 27, 27);
}

button:hover{
  background-color: rgba(172, 27, 27, 0.6);
}

h2:last-of-type {
	font-size: 20px;
}
